@CHARSET "UTF-8";

body {
	background-color: gray;
}

.stein1a {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px;
	background-color: #f5b905;
}

.stein2a {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px;
	background-color: #bf4904;
}

.stein1m {
	width: 20px;
	height: 20px;
	float: left;
	margin: 5px;
	background-color: #f5b905;
}

.stein2m {
	width: 20px;
	height: 20px;
	float: left;
	margin: 5px;
	background-color: #bf4904;
}

.stein3m {
	width: 20px;
	height: 20px;
	float: left;
	margin: 5px;
	background-color: #000000;
}

.stein1i {
	width: 10px;
	height: 10px;
	float: left;
	margin: 5px;
	background-color: #f5b905;
}

.stein2i {
	width: 10px;
	height: 10px;
	float: left;
	margin: 5px;
	background-color: #bf4904;
}

.stein3i {
	width: 10px;
	height: 10px;
	float: left;
	margin: 5px;
	background-color: #000000;
}